<div style="margin-left: 142px; margin-right: 142px;">

<div class="user-details">
  <h1> Certifications </h1>
</div>
        
<style>
  
  * {
          box-sizing: border-box;
        }
  
  .img-rounded {
          border-radius:6px
        }
</style>

<div class="row1">

  <div class="column1">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg" target="_blank">
        <img src="assets/img/galaxy.jpg" class="img-rounded" alt="Snow" style="width:100%">
      </a>
        <div class="caption">
          <p>Lor ipsum donec id elit non mi porta gravida at eget metus.</p>
        </div>
    </div>
  </div>

  <div class="column1">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg" target="_blank">
        <img src="assets/img/galaxy.jpg" class="img-rounded" alt="Snow" style="width:100%">
      </a>
        <div class="caption">
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
        </div>
    </div>
  </div>

  <div class="column1">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg" target="_blank">
        <img src="assets/img/galaxy.jpg" class="img-rounded" alt="Snow" style="width:100%">
      </a>
        <div class="caption">
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
        </div>
    </div>
  </div>

  <div class="column1">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg" target="_blank">
        <img src="assets/img/galaxy.jpg" class="img-rounded" alt="Snow" style="width:100%">
      </a>
        <div class="caption">
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
        </div>
    </div>
  </div>

  <div class="column1">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg" target="_blank">
        <img src="assets/img/galaxy.jpg" class="img-rounded" alt="Snow" style="width:100%">
      </a>
        <div class="caption">
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
        </div>
    </div>
  </div>

  <div class="column1">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg" target="_blank">
        <img src="assets/img/galaxy.jpg" class="img-rounded" alt="Snow" style="width:100%">
      </a>
        <div class="caption">
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
        </div>
    </div>
  </div>

</div>

</div>
</div>
