<div style="margin-left: 135px; margin-right: 135px;">
        
<div>
        <h2>Experience</h2>
</div>

<div>
         <b>Junior Software Developer, Revivo</b><br>
            Dec 2018 - Jan 2018 · Noida · revivo.in
        <ul>
            <li>Developed a complete blog using Flask framework(http://bit.ly/flaskbg)</li>
            <li>Introduced marketing policies resulting in 240% growth in customer indi</li>
            <li>Prompted the company to enter into the software development sector which generated 86% more revenue than the previous strategies</li>
        </ul> 
</div>

</div>
