<div style="margin-left: 135px; margin-right: 135px;">
        
<div>
        Eacher pixel is a sample of an original image; more samples typically provide more accurate representations of the original. The intensity of each pixel is variable. In color imaging systems, a color is typically represented by three or four component intensities such as red, green, and blue, or cyan, magenta, yellow, and black.
</div>

<div>
        <h5>Junior Software Developer, revivo.in</h5>
            Dec 2018 - Jan 2018
        <p>Revivo, Noida</p>
        <ul>
            <li>Developed a complete blog using Flask framework(http://bit.ly/flaskbg)</li>
            <li>Introduced marketing policies resulting in 240% growth in customer indi</li>
            <li>Prompted the company to enter into the software development sector which generated 86% more revenue than the previous strategies</li>
        </ul> 
</div>

<div>
        <h5>Junior Software Developer, revivo.in</h5>
            Dec 2018 - Jan 2018
        <p>Revivo, Noida</p>
        <ul>
            <li>Developed a complete blog using Flask framework(http://bit.ly/flaskbg)</li>
            <li>Introduced marketing policies resulting in 240% growth in custo </li>
            <li>Prompted the company to enter into the software development sector which generated 86% more revenue than the previous strategies</li>
        </ul> 
</div>

<div>
        <h5>Junior Software Developer, revivo.in</h5>
            Dec 2018 - Jan 2018
        <p>Revivo, Noida</p>
        <ul>
            <li>Developed a complete blog using Flask framework(http://bit.ly/flaskbg)</li>
            <li>Introduced marketing policies resulting in 240% growth in customer </li>
            <li>Prompted the company to enter into the software development sector which generated 86% more revenue than the previous strategies</li>
        </ul> 
</div>
</div>
