<div style="margin-left: 142px; margin-right: 142px;">
  
<div class="user-details">
  <h1> Skills </h1>
</div>

<h3>Python + Machine Learning + Deep Learning</h3>

<div style="float: left; width: 25%;">
<ul>
    <li>Keras</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Scikit-learn</li>
    <li>TensorFlow</li>
</ul>
</div>
<div style="float: left; width: 25%;">
<ul>
    <li>Regression</li>
    <li>Classification</li>
    <li>Boosting Algorithms</li>
    <li>Support Vector Machines</li>
    <li>Natural Language Processing</li>
</ul>
</div>
<div style="float: right; width: 25%;">
<ul>
    <li>Neural Networks</li>
    <li>Dropout Technique</li>
    <li>Long Short-Term Memory</li>
    <li>Microsoft Cognitive Toolkit</li>
    <li>YOLO (You Only Look Once)</li>
</ul>
</div>

<h3>Familiar With + Extra Courses + Certifications</h3>

<div style="float: left; width: 33%;">
<ul>
    <li>SQL</li>
    <li>MapReduce</li>
    <li>Apache Spark</li>
    <li>Data Processing</li>
    <li>GPU Computing</li>
</ul>
</div>
<div style="float: left; width: 33%;">
<ul>
    <li>Udacity Tensorflow Course</li>
    <li>Neuro-Linguistic Programming</li>
    <li>Deep Learning Specialization</li>
    <li>Probability and Statistics</li>
    <li>Google Machine Learning Course</li>
</ul>
</div>
<div style="float: right; width: 33%;">
<ul>
    <li>Six Sigma Green Belt</li>
    <li>FGnC Business Intelligence</li>
    <li>Google Digital Marketing</li>
    <li>Project Management Essentials</li>
    <li>Google Machine Learning</li>
</ul>
</div>
  
</div>
